<?xml version="1.0" encoding="UTF-8"?>
<Context>
    <WatchedResource>WEB-INF/web.xml</WatchedResource>

    <Resource name="jdbc/orasogesi"
              auth="Container"
              type="javax.sql.DataSource"
              driverClassName="oracle.jdbc.OracleDriver"
              url="jdbc:oracle:thin:@172.16.10.231:1521:ORCL"
              username="sogesi"
              password="manager"
              maxTotal="20"
              maxIdle="10"
              minIdle="2"
              maxWaitMillis="10000"
              testOnBorrow="true"
              testWhileIdle="true"
              validationQuery="SELECT 1 FROM DUAL"
              timeBetweenEvictionRunsMillis="30000"
              minEvictableIdleTimeMillis="60000"
              removeAbandonedOnBorrow="true"
              removeAbandonedTimeout="60"
              logAbandoned="true"/>
</Context>
